<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.wanshi.chat.message.mapper.ImMessageDataMapper">

    <select id="messageCount" resultType="cn.com.wanshi.chat.message.model.resp.ImMessageCountResp"
            parameterType="cn.com.wanshi.chat.message.model.req.ImMessageCountReq">

        select count(1) as count, from_id as fromId from im_message_data imd
        <where>
            <if test="ownerId != null and ownerId != ''">
                AND imd.owner_id = #{ownerId}
            </if>

            <if test="ownerId != null and ownerId != '' and fromIdNEqOwerIdFlag != null and fromIdNEqOwerIdFlag">
                AND imd.from_id <![CDATA[ <> ]]>  #{ownerId}
            </if>

            <if test="sendStatus != null ">
                AND imd.send_status = #{sendStatus}
            </if>
        </where>
        group by imd.from_id
    </select>


    <select id="friendMessages" resultType="cn.com.wanshi.chat.message.model.resp.ImFriendMessagesResp"
            parameterType="cn.com.wanshi.chat.message.model.req.ImFriendMessagesReq">
        select
            t1.*,
            u.nick_name,
            u.account,
            u.photo,
            if2.friend_nick_name
            from
            im_message_data t1
            join (
            select
            MAX(message_time) as message_time
            from
            im_message_data
            <where>
                <if test="ownerId != null and ownerId != ''">
                    AND owner_id = #{ownerId}
                </if>
                <if test="ownerId != null and ownerId != '' and fromIdNEqOwerIdFlag != null and fromIdNEqOwerIdFlag">
                    AND from_id <![CDATA[ <> ]]>  #{ownerId}
                </if>
            </where>
        group by
            from_id
            ) t2 on
            t1.message_time = t2.message_time
            join im_friendship if2
            on t1.from_id = if2.to_id and  t1.to_id = if2.from_id
            join im_user_data u
            on t1.from_id = u.user_id
            <where>
                <if test="ownerId != null and ownerId != ''">
                    AND t1.owner_id = #{ownerId}
                </if>
                <if test="ownerId != null and ownerId != '' and fromIdNEqOwerIdFlag != null and fromIdNEqOwerIdFlag">
                    AND t1.from_id <![CDATA[ <> ]]>  #{ownerId}
                </if>
                and t1.from_type = 1
            </where>
        union
        select
        t1.*,
        u.group_name as nick_name,
        u.group_id as account,
        u.photo,
        u.group_name as friend_nick_name
        from
        im_message_data t1
        join (
        select
        MAX(message_time) as message_time
        from
        im_message_data
        <where>
            <if test="ownerId != null and ownerId != ''">
                AND owner_id = #{ownerId}
            </if>
            <if test="ownerId != null and ownerId != '' and fromIdNEqOwerIdFlag != null and fromIdNEqOwerIdFlag">
                AND from_id <![CDATA[ <> ]]>  #{ownerId}
            </if>
            and from_type = 3
        </where>
        group by
        from_id
        ) t2 on
        t1.message_time = t2.message_time
        join im_group_member if2
        on
        t1.from_id = if2.group_id
        and t1.to_id = if2.member_id
        join im_group u
        on
        t1.from_id = u.group_id
        <where>
            <if test="ownerId != null and ownerId != ''">
                AND t1.owner_id = #{ownerId}
            </if>
            <if test="ownerId != null and ownerId != '' and fromIdNEqOwerIdFlag != null and fromIdNEqOwerIdFlag">
                AND t1.from_id <![CDATA[ <> ]]>  #{ownerId}
            </if>
            and t1.from_type = 3
        </where>

    </select>
</mapper>
